/* body */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
/* classes */
.navbar {
  width: 100%;
  height: 48px;
  background-color: #ff9800;
}
.toggle-button {
  cursor: pointer;
  height: 24px;
  width: 24px;
  padding: 12px;
  float: left;
}
.toggle-button:hover {
  background-color: #c66900;
}
.toggle-button-lang {
  cursor: pointer;
  height: 24px;
  width: 24px;
  padding: 12px;
  float: right;
}
.toggle-button-lang:hover {
  background-color: #c66900;
}
.section-one {
  width: 100%;
  padding: 50px 0 25px 0;
  background-color: #e8e8e8;
}
.heading {
  padding: 50px;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}
.paragraph {
  font-weight: 500;
  font-size: 32px;
  text-align: left;
  padding: 0 50px;
}
.basic-button {
  cursor: pointer;
  padding: 10px;
  margin: 40px;
  font-size: 18px;
  background-color: #ff9800;
  text-align: center;
  width: 300px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.basic-button:hover {
  background-color: #c66900;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.section-two {
  padding: 50px;
}
.section-small {
  width: 100%;
  padding: 0 0 50px 0;
}
.heading-small {
  padding: 20px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #ff9800;
}
.paragraph-small {
  font-weight: 500;
  font-size: 18px;
  text-align: left;
  padding: 20px;
}
.dropdown-area {
  position: absolute;
  top: 48px;
  left: 0;
}
.dropdown-area-lang {
  position: absolute;
  top: 48px;
  right: 0;
}
.dropdown-menu {
  z-index: 2;
  position: relative;
  width: 200px;
  height: auto;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.menu-button {
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}
.menu-link {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 10px 50px;
}
.menu-button:hover {
  background-color: #c66900;
}
.menu-button:hover a {
  color: white;
}
.large-link {
  float: left;
  padding: 15px;
  text-decoration: none;
  color: black;
  background-color: white;
  cursor: pointer;
}
.large-link:hover {
  background-color: #c66900;
  color: white;
}
.big-img {
  height: 414px;
  width: 414px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.small-img {
  height: 160px;
  width: 160px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.img-wrapper {
  width: 100%;
}
/* id's */
#toggle-button-section {
  display: block;
}
#large-links {
  display: none;
}

/* iPhone 5 */
@media only screen and (max-width: 568px) {
  .heading {
    padding: 10px;
    font-size: 32px;
  }
  .paragraph {
    font-weight: 500;
    font-size: 24px;
    text-align: left;
    padding: 0 10px;
  }
  .heading-small {
    padding: 5px;
    font-size: 24px;
  }
  .paragraph-small {
    font-size: 18px;
    padding: 5px;
  }
  .big-img {
    height: 300px;
    width: 300px;
  }
  .section-two {
    padding: 10px;
  }
}

/* Nexus 7 */
@media only screen and (min-width: 568px) {
  .small-img {
    float: left;
  }
  .section-small {
    height: 200px;
    display: flex;
  }
  .section-sml-one {
    float: left;
  }
  .section-sml-two {
    float: right;
  }
}

/* iPad */
@media only screen and (min-width: 1024px) {
  #toggle-button-section {
    display: none;
  }
  #large-links {
    display: inline;
  }
  .section-one {
    display: inline-block;
    min-height: 45vh;
    max-height: 80vh;
  }
  .big-img {
    text-align: center;
  }
  .img-wrapper {
    width: 50%;
    float: right;
  }
  .content-wrapper {
    width: 50%;
    float: left;
  }
  .section-small {
    display: table-cell;
    width: 50%;
  }
  .small-img {
    float: none;
    padding: 0;
  }
}