/* body */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
/* classes */
.navbar {
  width: 100%;
  height: 48px;
  background-color: #ff9800;
}
.toggle-button {
  cursor: pointer;
  height: 24px;
  width: 24px;
  padding: 12px;
}
.section-one {
  width: 100%;
  padding: 50px 0 25px 0;
  background-color: #e8e8e8;
}
.heading {
  padding: 50px;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}
.paragraph {
  font-weight: 500;
  font-size: 32px;
  text-align: left;
  padding: 0 50px;
}
.basic-button {
  cursor: pointer;
  padding: 10px;
  margin: 40px;
  font-size: 18px;
  background-color: #ff9800;
  text-align: center;
  width: 300px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.section-two {
  padding: 50px;
}
.section-small {
  width: 100%;
  padding: 0 0 50px 0;
}
.heading-small {
  padding: 20px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #ff9800;
}
.paragraph-small {
  font-weight: 500;
  font-size: 18px;
  text-align: left;
  padding: 20px;
}
.dropdown-area {
  position: absolute;
  top: 48px;
  left: 0;
}
.dropdown-menu {
  z-index: 2;
  position: relative;
  width: 200px;
  height: auto;
  top: 0;
  left: 0;
  background-color: white;
}
.menu-button {
  padding: 10px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}
.menu-link {
  text-decoration: none;
  color: black;
}
.menu-button:hover {
  background-color: #ff9800;
}
.menu-button:hover a {
  color: white;
}
.large-link {
  float: left;
  padding: 15px;
  text-decoration: none;
  color: black;
  background-color: white;
  cursor: pointer;
}
.large-link:hover {
  background-color: #ff9800;
  color: white;
}
.big-img {
  height: 414px;
  width: 414px;
}
.small-img {
  height: 160px;
  width: 160px;
}
.img-wrapper {
  width: 100%;
}
/* id's */
#toggle-button-section {
  display: block;
}
#large-links {
  display: none;
}

/* iPhone 5 */
/* @media only screen and (min-width: 568px) {
  
} */

/* Nexus 7 */
@media only screen and (min-width: 568px) {
  .small-img {
    float: left;
    padding: 0 25px 0 0;
  }
  .section-small {
    height: 200px;
  }
  .section-sml-one {
    float: left;
  }
  .section-sml-two {
    float: right;
  }
}

/* iPad */
@media only screen and (min-width: 1024px) {
  #toggle-button-section {
    display: none;
  }
  #large-links {
    display: inline;
  }
  .section-one {
    display: inline-block;
  }
  .big-img {
    text-align: center;
  }
  .img-wrapper {
    width: 50%;
    float: right;
  }
  .content-wrapper {
    width: 50%;
    float: left;
  }
  .section-small {
    display: table-cell;
    width: 50%;
  }
  .small-img {
    float: none;
    padding: 0;
  }
}